<h1>Add Collaborator</h1>
<p>put a form here that will take the new collaborator's email and check to see if it exisits
if it doesn't return that it doesnt. If it does create a collaborator.new with the collaborator id and the user id.</p>


<%= form_for @collaborator do |f| %>
  <% if @collaborator.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@collaborator.errors.count, "error") %>.</h4>
      <ul>
        <% @collaborator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- I'd like this text field to have a drop down as the user types the email that will populate the emails of current users - kind of like when you tag someone on FB or TW.  -->
  <%= form_group_tag(@collaborator.errors[:user_id]) do %>
    <%= f.label :user_id %>
    <%= f.text_field :user_id, class: 'form-control', placeholder: "Enter collaborator name or email" %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
