<h1><%= @wiki.title %></h1>
<small> by <%= @wiki.user.email %> <br> submitted <%= time_ago_in_words(@wiki.created_at) %> ago </small>

<p><%= @wiki.body %></p>

<div>
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-info' %>
  <% if policy(@wiki).destroy? %>
    <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
